<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
    <typeAlias type="com.sist.vo.GoodsVO" alias="GoodsVO"/>
    <typeAlias type="com.sist.vo.HometVO" alias="HometVO"/>
    <typeAlias type="com.sist.vo.Chat_foodVO" alias="Chat_foodVO"/>
     <typeAlias type="com.sist.vo.KcalVO" alias="KcalVO"/>
     <typeAlias type="com.sist.vo.Chat_planVO" alias="Chat_planVO"/>
     <typeAlias type="com.sist.vo.Chat_recipeVO" alias="Chat_recipeVO"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/sist/mapper/member-mapper.xml"/>
    <mapper resource="com/sist/mapper/goods-mapper.xml"/>
    <mapper resource="com/sist/mapper/homet-mapper.xml"/>
    <mapper resource="com/sist/mapper/chat-mapper.xml"/>
    <mapper resource="com/sist/mapper/kcal-mapper.xml"/>
  </mappers>
</configuration>