<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
    <typeAlias type="com.sist.vo.GoodsVO" alias="GoodsVO"/>
    <typeAlias type="com.sist.vo.GoodsDetailVO" alias="GoodsDetailVO"/>
    <typeAlias type="com.sist.vo.DietFoodVO" alias="DietFoodVO"/>
    <typeAlias type="com.sist.vo.DietFoodDetailVO" alias="DietFoodDetailVO"/>
    <typeAlias type="com.sist.vo.Chat_foodVO" alias="Chat_foodVO"/>
    <typeAlias type="com.sist.vo.KcalVO" alias="KcalVO"/>
    <typeAlias type="com.sist.vo.Chat_planVO" alias="Chat_planVO"/>
    <typeAlias type="com.sist.vo.Chat_recipeVO" alias="Chat_recipeVO"/>
    <typeAlias type="com.sist.vo.WalkVO" alias="WalkVO"/>
    <typeAlias type="com.sist.vo.NoticeBoardVO" alias="NoticeBoardVO"/>
    <typeAlias type="com.sist.vo.FreeBoardVO" alias="FreeBoardVO"/>
    <typeAlias type="com.sist.vo.QnABoardVO" alias="QnABoardVO"/>
    <typeAlias type="com.sist.vo.ReplyVO" alias="ReplyVO"/>
    <typeAlias type="com.sist.vo.User_order_basketVO" alias="User_order_basketVO"/>
    <typeAlias type="com.sist.vo.WalkReplyVO" alias="WalkReplyVO"/>
    <typeAlias type="com.sist.vo.QnABoard_ReplyVO" alias="QnABoard_ReplyVO"/>    
    <typeAlias type="com.sist.vo.User_basketVO" alias="User_basketVO"/>
    <typeAlias type="com.sist.vo.HometMainVO" alias="HometMainVO"/>
    <typeAlias type="com.sist.vo.HometPayVO" alias="HometPayVO"/>
    <typeAlias type="com.sist.vo.HometDetailVO" alias="HometDetailVO"/>
    <typeAlias type="com.sist.vo.HometBoardVO" alias="HometBoardVO"/>
  	<typeAlias type="com.sist.vo.YoutubeVO" alias="YoutubeVO"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/sist/mapper/member-mapper.xml"/>
    <mapper resource="com/sist/mapper/goods-mapper.xml"/>
    <mapper resource="com/sist/mapper/dietfood-mapper.xml"/>
    <mapper resource="com/sist/mapper/homet-mapper.xml"/>
    <mapper resource="com/sist/mapper/chat-mapper.xml"/>
    <mapper resource="com/sist/mapper/kcal-mapper.xml"/>
    <mapper resource="com/sist/mapper/walk-mapper.xml"/>
    <mapper resource="com/sist/mapper/board-mapper.xml"/>
    <mapper resource="com/sist/mapper/admin-mapper.xml"/>
    <mapper resource="com/sist/mapper/user_basket-mapper.xml"/>
    <mapper resource="com/sist/mapper/mypage-mapper.xml"/>
    <mapper resource="com/sist/mapper/homet-mapper.xml"/>
    <mapper resource="com/sist/mapper/homet_board-mapper.xml"/>
    <mapper resource="com/sist/mapper/reply-mapper.xml"/>
    <mapper resource="com/sist/mapper/search-mapper.xml"/>
    <mapper resource="com/sist/mapper/youtube-mapper.xml"/>
  </mappers>
</configuration>