<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.admin-mapper">
	<select id="userBasketList" resultType="User_order_basketVO" parameterType="hashmap">
		SELECT id,no,pno,cno,title,price,ordercount,state,num 
		from( SELECT id,no,pno,cno,title,price,ordercount,state,rownum as num 
		from (SELECT id,no,pno,cno,title,price,ordercount,state from user_order_basket order by id Asc))
		WHERE num between #{start} and #{end}
	</select>
	<select id="userBasketTotalpage" resultType="int">
		SELECT CEIL(count(*)/10.0) from user_order_basket
	</select>
	<update id="order_basketUpdate" parameterType="hashmap">
		update User_order_basket set
		state=#{state}
		where no=#{no}
	</update>
	<!-- QnA게시판 리스트 -->
	<select id="userQnAListData" resultType="QnABoardVO" parameterType="hashmap">
		SELECT no,id,subject,regdate,answer,content,num
		from (SELECT no,id,subject,regdate,answer,content,rownum as num 
		from (SELECT no,id,subject,regdate,answer,content from qnaboard where answer='N' order by regdate DESC))
		WHERE num between #{start} and #{end}
	</select>
	<!-- QnA게시판 totalpage-->
	<select id="userQnATotalpage" resultType="int">
		SELECT CEIL(count(*)/10.0) from qnaboard where answer='N'
	</select>
	<resultMap type="QnABoardVO" id="QnABoardJoinVO">
		<id property="no" column="no"/>
		<id property="id" column="id"/>
		<id property="subject" column="subject"/>
		<id property="regdate" column="regdate"/>
		<id property="answer" column="answer"/>
		<id property="content" column="content"/>
		<collection property="qnABoard_ReplyVO" resultMap="QnABoard_ReplyVO"/>
	</resultMap>
	<resultMap type="QnABoard_ReplyVO" id="QnABoard_ReplyVO">
		<id property="mno" column="mno"/>
		<id property="msg" column="msg"/>
	</resultMap>
		<!-- QnA게시판 수정리스트 -->
	<select id="adminQnAUpdateListData" parameterType="hashmap" resultMap="QnABoardJoinVO">
		SELECT no,id,subject,regdate,answer,content,msg,num
		from (SELECT no,id,subject,regdate,answer,content,msg,rownum as num 
		from (SELECT a.no,a.id,a.subject,a.regdate,a.answer,a.content,b.msg from qnaboard  a,qnaboard_reply b 
		where answer='Y' AND a.no=b.mno order by regdate DESC))
		WHERE num between #{start} and #{end}
	</select>
	<!-- QnA게시판 수정totalpage-->
	<select id="QnAUpdateTotalpage" resultType="int">
		SELECT CEIL(count(*)/10.0) from qnaboard where answer='Y'
	</select>
	
	
	<!-- QnA reply게시판 insert -->
	<insert id="adminQnaInsert" parameterType="QnABoard_ReplyVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(Max(no)+1,1) from qnaboard_reply
		</selectKey>
		Insert into QnAboard_reply(no,mno,msg,regdate) values( #{no}, #{mno}, #{msg}, #{regdate})
	</insert>
	<!-- QnA게시판  업데이트 -->
	<sql id="countReply">
		SELECT count(*) from qnaboard_reply where mno=#{mno}	
	</sql>
	<update id="QnAboard_stateUpdate" parameterType="int">
		Update qnaboard set 
		answer='Y'
		where no=#{mno} and (<include refid="countReply"/>) !=0
	</update>
	<update id="QnAboard_reply_update" parameterType="QnABoard_ReplyVO">
		update qnaboard_reply set
		msg=#{msg},regdate=#{regdate}
		WHERE mno=#{mno}	
	</update>
	<!-- 검색리스트 -->
	<select id="QnASearchData" resultType="QnABoardVO" parameterType="hashmap">
		SELECT no,id,subject,regdate,answer,content from qnaboard where answer='N' and  ${sc} Like '%'||#{keyword}||'%' order by regdate DESC
	</select>
	
	
	<resultMap type="DietFoodVO" id="DietFoodVO">
		<id property="no" column="no"/>
		<id property="title" column="title"/>
		<id property="stockNo" column="stockNo"/>
		<id property="stock" column="stock"/>
		<collection property="goodsvo" resultMap="GoodsVO"/>
	</resultMap>
	<resultMap type="GoodsVO" id="GoodsVO">
		<id property="no" column="no"/>
		<id property="title" column="title"/>
		<id property="stockNo" column="stockNo"/>
		<id property="stock" column="stock"/>
	</resultMap>
	<!-- 상품 전체리스트 출력 -->
	<select id="manageShopList" resultMap="DietFoodVO" parameterType="hashmap">
		Select stockNo,title,stock, num
		from(SELECT stockNo,title,stock,rownum as num
		from(SELECT to_char(no) stockNo,title,stock 
		from goods_list
		UNION all
		SELECT 'd'||to_char(no) stockNo,title,stock
		from dietfood_list))
		WHERE num Between #{start} and #{end}
	</select>
	<!-- 상품 총페이지 -->
	<select id="manageShopTotalpage" resultType="int">
		SELECT CEIL(count(no)/20.0)
		FROM (SELECT no from dietfood_list
		union all
		SELECT no
		FROM goods_list)
	</select>
	<!-- 품절상태가져오기 -->
	<select id="IsShopStock" parameterType="hashmap" resultType="String">
		SELECT stock from ${table} where no=#{no} 
	</select>
	<update id="updateStockY" parameterType="hashmap">
		update ${table} set
		stock='Y'
		where no=#{no}
	</update>
	<update id="updateStockN" parameterType="hashmap">
		update ${table} set
		stock='N'
		where no=#{no}
	</update>
	<!-- 상품검색 -->
	<select id="findShopStock" parameterType="hashmap" resultMap="DietFoodVO">
		select no,title,stock
		from ${table}
		where title Like '%'||#{keyword}||'%'
	</select>
	<!-- 상품추가 -->
	<insert id="insertShopData" parameterType="hashmap">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(Max(no)+1,1) from ${table}
		</selectKey>
		INSERT INTO ${table} VALUES(#{no},#{title},#{poster},#{price},#{detail_poster})
	</insert>
	<insert id="insertShopListData" parameterType="hashmap">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(Max(no)+1,1) from ${list_table}
		</selectKey>
		INSERT INTO ${list_table}(no,title,poster,price) VALUES(#{no},#{title},#{poster},#{price})
	</insert>
	<!-- 상품 업데이트전 불러오기 -->
	<select id="shop_updateBeforeData" parameterType="hashmap" resultType="DietFoodVO">
	SELECT no,title,price 
	from ${table}
	where no=#{no}
	</select>
	<!-- 상품업데이트 -->
	<update id="shop_updateListData" parameterType="hashmap">
		Update ${list_table} set
		title=#{title},price=#{price} 
		<if test="poster!=null">
		,poster=#{poster}
		</if>
		where no=#{no}
	</update>
	<update id="shop_updateDetailData" parameterType="hashmap">
		Update ${table} set
		title=#{title},price=#{price} 
		<if test="poster!=null">
		,poster=#{poster}
		</if>
		<if test="detail_poster!=null">
		,detail_poster=#{detail_poster}
		</if>
		where no=#{no}
	</update>
	<!-- 상품삭제 -->
	<delete id="shop_deleteListData" parameterType="hashmap">
		Delete from ${list_table}
		WHERE no=#{no}
	</delete>
	<delete id="shop_deleteDetailData" parameterType="hashmap">
		Delete from ${table}
		WHERE no=#{no}
	</delete>
</mapper>