<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.chat-mapper">
	<insert id="chat_planInsert" parameterType="Chat_planVO">
		insert into chat_plan values(#{id},#{plandate},#{time},#{sport})
	</insert>
	<insert id="chat_foodInsert" parameterType="Chat_foodVO">
		insert into chat_food(id,fooddate,whenfood,foodname,foodkcal,foodgram)
		 values(#{id},#{fooddate},#{whenfood},#{foodname},#{foodkcal},#{foodgram})
	</insert>
	<select id="chat_foodData" resultType="Chat_foodVO" parameterType="Chat_foodVO">
		SELECT * from chat_food 
		WHERE fooddate=#{fooddate} and id=#{id}
	</select>
	<select id="chat_planData" resultType="Chat_planVO" parameterType="Chat_planVO">
		SELECT * from chat_plan 
		WHERE plandate=#{plandate} and id=#{id}
	</select>
	<select id="chat_dbDay" resultType="String" parameterType="String">
	SELECT fooddate from chat_food UNION 
	SELECT plandate from chat_plan
	where id=#{id}
	order by fooddate
	</select>
	<select id="chat_recipeList" resultType="Chat_recipeVO" parameterType="hashmap">
		SELECT no,title,poster,num
		FROM (SELECT no,title,poster,rownum as num
		FROM (SELECT /*+INDEX_ASC(chat_recipe_list kcal_INDEX1) */no,title,poster from chat_recipe_list))
		WHERE num Between #{start} and #{end}
	</select>
	<select id="chat_recipeTotalPage" resultType="int">
		SELECT CEIL(count(*)/9.0) from chat_recipe_list
	</select>
	<select id="chat_kcalData" resultType="KcalVO" parameterType="String">
		SELECT /*+INDEX_ASC(chat_kcal INDEX1) */no,name,gram,kcal from 
		chat_kcal
		where name like '%'||#{keyword}||'%'
	</select>
</mapper>