<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	NO     NOT NULL NUMBER        
	TITLE           VARCHAR2(300) 
	POSTER          VARCHAR2(400) 
	PRICE           NUMBER        
	STOCK           VARCHAR2(20)     
 -->
<mapper namespace="com.sist.mapper.goods-mapper">
  <!-- goods 목록 -->
  <select id="goodsListData" resultType="GoodsVO" parameterType="hashmap">
    SELECT no,title,poster,price,stock,num
    FROM (SELECT no,title,poster,price,stock,rownum as num
    FROM (SELECT /*+ INDEX_ASC(goods_list gl_no_pk) */ no,title,poster,price,stock
    FROM goods_list))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <!-- goods 총페이지 -->
  <select id="goodsTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/9.0) FROM goods_list
  </select>
  <!-- goods 총 수량 -->
  <select id="goodsCount" resultType="int">
  	SELECT COUNT(*) FROM goods_list
  </select>
  <!-- goods 상세데이터 -->
  <!-- 
	    NO               NUMBER        
		TITLE            VARCHAR2(300) 
		POSTER           VARCHAR2(400) 
		PRICE            NUMBER        
		DETAIL_POSTER    CLOB          
   -->
  <!-- 상품 상세보기 -->
  <select id="goodsDetailData" resultType="GoodsDetailVO" parameterType="int">
    SELECT gl.no,gd.title,gd.poster,gd.price,gd.detail_poster 
    FROM goods_detail gd,goods_list gl
    WHERE gd.no=gl.no 
      AND gd.no=#{no}
  </select>
  
  <!-- ================ 찜하기 ================== -->
  <!-- 찜 확인 -->
  <select id="goodsJjimCheck" resultType="int" parameterType="hashmap" >
	SELECT COUNT(*) FROM goods_jjim gj,goods_list gl
	WHERE gj.pno=gl.no
	  AND pno=#{pno} 
	  AND id = #{id}
  </select>
	
  <!-- 찜하기 -->
  <insert id="goodsJjimUpdate" parameterType="hashmap">
	INSERT INTO goods_jjim VALUES(
		#{pno}, #{id}
	)
  </insert>
	
  <!-- 찜 취소 -->
  <delete id="goodsJjimDelete" parameterType="hashmap">
	DELETE FROM goods_jjim gj,goods_list gl
	WHERE gj.pno=gl.no
	  AND pno = #{pno} 
	  AND id = #{id}
  </delete>
  
  <!-- 찜 수량 goodsJjimCount -->
  <select id="goodsJjimCount" parameterType="int" resultType="int">
	SELECT COUNT(*) FROM goods_jjim gj,goods_list gl
	WHERE gj.pno=gl.no
	  AND pno = #{pno}
  </select>
  
  <!-- ================ 리뷰  ================== -->
  <!-- 리뷰 조회  -->
  <select id="shopReplyListData" resultType="ShopReplyVO" parameterType="int">
	SELECT no,pno,name,msg,
		   TO_CHAR(regdate,'YYYY-MM-DD HH24:MI:SS') as dbday
	FROM shop_reply
	WHERE pno=#{pno} ORDER BY dbday DESC
  </select>
  
  <!-- 리뷰 추가 -->
  <insert id="shopReplyInsert" parameterType="ShopReplyVO">
	<selectKey keyProperty="no" resultType="int" order="BEFORE">
	  SELECT NVL(MAX(no)+1,1) as no FROM shop_reply
	</selectKey>
	INSERT INTO shop_reply(no,pno,name,msg) 
	VALUES(
	  #{no},
	  #{pno},
	  #{name},
	  #{msg}
	)
  </insert>
  
  <!-- 리뷰 수정 -->
  <update id="shopReplyUpdate" parameterType="ShopReplyVO">
	UPDATE shop_reply SET
		msg=#{msg}
	WHERE no=#{no}
	  AND pno=#{pno}
  </update>
  
  <!-- 리뷰 삭제 -->
  <delete id="shopReplyDelete" parameterType="ShopReplyVO">
	DELETE FROM shop_reply
    WHERE no=#{no}
      AND pno=#{pno}
  </delete>
</mapper>