<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 
 	NO            NUMBER(38)     
	TITLE         VARCHAR2(4000) 
	TITLE_LINK    VARCHAR2(4000) 
	POSTER        VARCHAR2(4000) 
	PART          VARCHAR2(4000) 
	GOOD          VARCHAR2(4000) 
  -->
 
 
<mapper namespace="com.sist.mapper.homet-mapper">
	<select id="hometListData" resultType="HometMainVO" parameterType="hashmap">
		SELECT no, title, title_link, poster, part, good, num
		FROM (SELECT no, title, title_link, poster, part, good, rownum as num
		FROM (SELECT no, title, title_link, poster, part, good
		FROM hometraining_main ORDER BY no DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="hometTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/10.0) FROM hometraining_main
	</select>
	
	<select id="hometDetailFree" resultType="com.sist.vo.HometDetailVO" parameterType="int">
		SELECT title1, title2, UPLOADDAY, hit, comment_hit, video, video_time, video_part, video_grade, video_kcal, embed_txt, embed_img
		FROM hometraining_detail
		WHERE no = #{no}
	</select>
	
	<!-- 챌린지 메인 페이지 리스트 -->
	<select id="hometChallengeListData" resultType="HometMainVO">
		SELECT * FROM challenge_main
	</select>
	
	<!-- 챌린지 디테일 페이지 -->
	<select id="hometChallengeDetail" resultType="HometDetailVO" parameterType="int">
		SELECT * from challenge_detail
		WHERE no = #{no}
		
	</select>
	
	
</mapper>