<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">
    <!-- 회원 가입 -->
	<!-- 
		ID                VARCHAR2(34)  
		PWD               VARCHAR2(15)  
		NAME              VARCHAR2(23)  
		BIRTH             VARCHAR2(10)  
		TEL               VARCHAR2(13)  
		PHONE             VARCHAR2(13)  
		EMAIL             VARCHAR2(50)  
		POST              NUMBER        
		NICKNAME          VARCHAR2(50)  
		ADDR1             VARCHAR2(200) 
		ADDR2             VARCHAR2(200) 
		ADMIN             VARCHAR2(2)   
	 -->
	 <!-- 회원가입 -->
	<insert id="memberJoin" parameterType="MemberVO">
	  INSERT INTO member(id,pwd,name,birth,tel,phone,email,post,nickname,addr1,addr2) VALUES(
	  	#{id},
	  	#{pwd},
	  	#{name},
	  	#{birth},
	  	#{tel},
	  	#{phone},
	  	#{email},
	  	#{post},
	  	#{nickname},
	  	#{addr1},
	  	#{addr2}
	  )
	</insert>
	
	<!-- 회원가입시: id 중복체크 -->
	<select id="memberIdCheck" resultType="MemberVO" parameterType="String">
	  SELECT COUNT(*) FROM member
	  WHERE id=#{id}
	</select>
	
	<!--주소 불러오기 -->
	
	
	
	<!-- 로그인 처리 -->
	<!-- ID 존재여부 -->
	<select id="memberIdCount" resultType="int" parameterType="MemberVO">
	  SELECT COUNT(*) FROM member
      WHERE id=#{id}
	</select>
	<select id="memberPasswordCheck" resultType="MemberVO" parameterType="string">
	  SELECT pwd,name FROM member
	  WHERE id=#{id}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="memberUpdate">
	
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="memberDelete">
	
	</delete>
</mapper>