<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mypage-mapper">
	<!-- <select id="mypage_chat_food" resultType="Chat_foodVO" parameterType="string">
	 SELECT fooddate,whenfood,foodname,foodkcal,foodgram FROM chat_food
	</select>
	<select id="mypage_chat_plan" resultType="Chat_PlanVO" parameterType="string">
		SELECT plandate,time,sport FROM chat_plan
	</select> -->
	
	<!-- 채팅 음식 목록 출력 -->
	<select id="mypageChatFoodListData" resultType="Chat_foodVO" parameterType="hashmap">
		SELECT id,fooddate,whenfood,foodname,foodkcal,foodgram,num
		FROM (SELECT id,fooddate,whenfood,foodname,foodkcal,foodgram,rownum as num
		FROM (SELECT id,fooddate,whenfood,foodname,foodkcal,foodgram
		FROM chat_food
		WHERE id=#{id}))
		WHERE num BETWEEN #{start} AND #{end}
		ORDER BY fooddate DESC
	</select>
	<!-- 음식 총페이지 출력 -->
	<select id="mypageChatFoodDataTotalPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/10.0) FROM chat_food WHERE id=#{id}
	</select>
	<!-- 채팅 운동 목록 출력 -->
	<select id="mypageChatPlanListData" resultType="Chat_PlanVO" parameterType="hashmap">
		SELECT id,plandate,time,sport,num
		FROM (SELECT id,plandate,time,sport,rownum as num
		FROM (SELECT id,plandate,time,sport
		FROM chat_plan
		WHERE id=#{id}))
		WHERE num BETWEEN #{startP} AND #{endP}	
		ORDER BY plandate DESC
	</select>
	<!-- 운동 총페이지 출력 -->
	<select id="mypageChatPlanDataTotalPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/10.0) FROM chat_plan WHERE id=#{id}
	</select>
	<!-- 마이페이지 전체 데이터 불러오기 -->
	<select id="mypageUpdateAllData" resultType="MemberVO" parameterType="string">
	 SELECT id,pwd,name,birth,tel,phone,email,post,nickname,add1,add2
	 FROM member WHERE id=#{id}
	</select>
	<!-- 마이페이지 수정 -->
	<update id="mypageUpdate" parameterType="MemberVO">
		UPDATE member SET pwd=#{pwd},name=#{name},tel=#{tel},phone=#{phone},email=#{email},post=#{post},
							nickname=#{nickname},add1=#{addr1},addr2=#{addr2}
		WHERE id=#{id}
	</update>
	<!-- 달력 음식 출력 -->
	<select id="mypageFoodDayData" resultType="Chat_foodVO" parameterType="hashmap">
		SELECT id,fooddate,whenfood,foodname,foodkcal,foodgram FROM chat_food 
		WHERE id=#{id} AND fooddate=#{fooddate}
		
	</select>
	<!-- 달력 운동 출력 -->
	<select id="mypagePlanDayData" resultType="Chat_planVO" parameterType="hashmap">
		SELECT id,plandate,time,sport FROM chat_plan WHERE id=#{id} AND plandate=#{plandate}
	</select>
	
</mapper>