<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mypage-mapper">
	<select id="mypage_chat_food" resultType="Chat_foodVO" parameterType="string">
	 SELECT fooddate,whenfood,foodname,foodkcal,foodgram FROM chat_food
	</select>
	<select id="mypage_chat_plan" resultType="Chat_PlanVO" parameterType="string">
		SELECT plandate,time,sport FROM chat_plan
	</select>
</mapper>