<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.search-mapper">
	<select id="searchHomet" parameterType="String" resultType="HometMainVO">
		SELECT no, title, poster, rownum FROM hometraining_main 
		WHERE title LIKE '%'||#{search}||'%' AND <![CDATA[rownum <= 6]]>
	</select>
	<select id="searchGoods" parameterType="String" resultType="GoodsVO">
		SELECT no, title, poster, price, rownum FROM goods_list 
		WHERE title LIKE '%'||#{search}||'%' AND <![CDATA[rownum <= 6]]>
	</select>
	<select id="searchDietfood" parameterType="String" resultType="DietFoodVO">
		SELECT no, title, poster, price, rownum FROM dietfood_list 
		WHERE title LIKE '%'||#{search}||'%' AND <![CDATA[rownum <= 6]]>
	</select>
	<select id="searchYoutube" parameterType="String" resultType="YoutubeVO">
		SELECT no, title, thumbnails, rownum FROM youtube_data_v2 
		WHERE title LIKE '%'||#{search}||'%' AND <![CDATA[rownum <= 6]]>
	</select>

	
	<select id="searchHometAll" parameterType="hashmap" resultType="HometMainVO">
		SELECT no, title, poster, num 
		FROM (SELECT no, title, poster, rownum as num
		FROM (SELECT no, title, poster
		FROM hometraining_main WHERE title LIKE '%'||#{search}||'%' ORDER BY no ASC)) 
        WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="searchHometAllPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/12.0) FROM hometraining_main 
		WHERE title LIKE '%'||#{search}||'%'
	</select>
	<select id="searchGoodsAll" parameterType="hashmap" resultType="GoodsVO">
		SELECT no, title, poster, price, num 
		FROM (SELECT no, title, poster, price, rownum as num
		FROM (SELECT no, title, poster, price 
		FROM goods_list WHERE title LIKE '%'||#{search}||'%' ORDER BY no ASC)) 
        WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="searchGoodsAllPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/12.0) FROM goods_list 
		WHERE title LIKE '%'||#{search}||'%'
	</select>
	<select id="searchDietfoodAll" parameterType="hashmap" resultType="DietFoodVO">
		SELECT no, title, poster, price, num 
		FROM (SELECT no, title, poster, price, rownum as num
		FROM (SELECT no, title, poster, price 
		FROM dietfood_list WHERE title LIKE '%'||#{search}||'%' ORDER BY no ASC)) 
        WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="searchDietfoodAllPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/12.0) FROM dietfood_list 
		WHERE title LIKE '%'||#{search}||'%'
	</select>
	
	<select id="searchYoutubeAll" parameterType="hashmap" resultType="YoutubeVO">
		SELECT no, title, thumbnails, num 
		FROM (SELECT no, title, thumbnails, rownum as num
		FROM (SELECT no, title, thumbnails
		FROM youtube_data_v2 WHERE title LIKE '%'||#{search}||'%' ORDER BY no ASC)) 
        WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="searchYoutubeAllPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/12.0) FROM youtube_data_v2 
		WHERE title LIKE '%'||#{search}||'%'
	</select>
	
	
	
	<insert id="searchNewKeywordInsert" parameterType="string">
		INSERT INTO search_rank VALUES(
			(SELECT NVL(MAX(no)+1,1) FROM search_rank), 
			#{keyword},
			1
		)
	</insert>
	
	<update id="searchKeywordUpdate" parameterType="string">
		UPDATE search_rank SET cnt=cnt+1 
		WHERE keyword=#{keyword}
	</update>
	
	<select id="searchKeywordIsExist" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM search_rank 
		WHERE keyword=#{keyword}
	</select>
	
	<select id="searchRank" resultType="com.sist.vo.KeywordVO">
		SELECT no, keyword, cnt, num FROM
		(SELECT no, keyword, cnt, rownum as num FROM 
        (SELECT no, keyword, cnt FROM search_rank ORDER BY cnt DESC))
		WHERE <![CDATA[num <= 10]]>
	</select>
	
	<select id="hometKeyword" resultType="string">
		SELECT keyword FROM 
		(SELECT keyword, rownum FROM homet_keyword ORDER BY cnt DESC )
		WHERE <![CDATA[rownum <= 10]]>
	</select>
	
	<select id="goodsKeyword" resultType="string">
		SELECT keyword FROM 
		(SELECT keyword, rownum FROM goods_keyword ORDER BY cnt DESC )
		WHERE <![CDATA[rownum <= 10]]>
	</select>
	
	<select id="foodsKeyword" resultType="string">
		SELECT keyword FROM 
		(SELECT keyword, rownum FROM foods_keyword ORDER BY cnt DESC )
		WHERE <![CDATA[rownum <= 10]]>
	</select>
	
	<select id="hometKeywordSearch" parameterType="hashmap" resultType="HometPayVO">
	
	</select>
	
	<select id="goodsKeywordSearch" parameterType="hashmap" resultType="GoodsVO">
		SELECT no, title, poster, price, num 
		FROM (SELECT no, title, poster, price, rownum as num
		FROM (SELECT no, title, poster, price 
		FROM goods_list WHERE title LIKE '%'||#{search}||'%' AND WHERE title LIKE '%'||#{keyword}||'%'
		ORDER BY no ASC)) 
        WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="foodsKeywordSearch" parameterType="hashmap" resultType="DietFoodVO">
		SELECT no, title, poster, price, num 
		FROM (SELECT no, title, poster, price, rownum as num
		FROM (SELECT no, title, poster, price 
		FROM dietfood_list WHERE title LIKE '%'||#{search}||'%' AND WHERE title LIKE '%'||#{keyword}||'%'
		ORDER BY no ASC)) 
        WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="goodsKeywordPage" parameterType="hashmap" resultType="int">
		SELECT CEIL(COUNT(*)/12.0) FROM goods_list 
		WHERE title LIKE '%'||#{search}||'%' AND WHERE title LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="foodsKeywordPage" parameterType="hashmap" resultType="int">
		SELECT CEIL(COUNT(*)/12.0) FROM dietfood_list 
		WHERE title LIKE '%'||#{search}||'%' AND WHERE title LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="searchAutocomplete" parameterType="string" resultType="string">
		select keyword from
		(select keyword, rownum from
		(select keyword from goods_keyword WHERE keyword like '%'||#{search}||'%' order by rownum asc) UNION
		select keyword, rownum from
		(select keyword from foods_keyword where keyword like '%'||#{search}||'%' order by rownum asc) UNION
		select keyword, rownum from
		(select keyword from homet_keyword where keyword like '%'||#{search}||'%' order by rownum asc))
		where <![CDATA[rownum <= 10]]>
	</select>
</mapper>