<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.user_basket-mapper">
  <!-- 
	    ID                  VARCHAR2(40)   고객id
		NO         NOT NULL NUMBER         고유키
		PNO                 NUMBER         제품번호
		TITLE               VARCHAR2(1000) 
		POSTER              VARCHAR2(400)  
		PRICE               NUMBER         
		ORDERCOUNT          NUMBER   기본값 1
		CNO                 NUMBER   카테고리 번호(1:운동용품, 2:다이어트식품)?
		ORDDATE             DATE 
		STATE				NUMBER   결제 상태(기본값 0) 
 -->
  
  <!-- 장바구니 목록 -->
  <select id="basketListData" resultType="User_basketVO" parameterType="String">
	SELECT id,no,pno,title,poster,price,ordercount,(price*ordercount) money,orderdate,state
	FROM user_basket
	WHERE id=#{id}
<!--     SELECT 
    	u.id as id,
    	u.no as no,
    	u.pno as pno,
    	g.title as title,
    	g.poster as poster,
    	g.price as price,
    	u.ordercount,(g.price*u.ordercount) money
    FROM 
    	user_basket u,goods_list g,member m
    WHERE m.id=u.id
    	AND u.pno=g.no
    	AND u.id={id}
    UNION ALL
    SELECT
    	u.id as id,
    	u.no as no,
    	u.pno as pno,
    	d.title as title,
    	d.poster as poster,
    	d.price as price,
    	u.ordercount,(d.price*u.ordercount) money
    FROM 
    	user_basket u,dietfood_list d,member m
    WHERE m.id=u.id
    	AND u.pno=d.no
    	AND u.id={id} -->
  </select>
  
  <!-- 장바구니 추가 -->
  <insert id="basketInsert" parameterType="User_basketVO">
    INSERT INTO user_basket VALUES(
		#{id},
		(ub_no_seq.nextval),
		#{pno},
		#{title},
		#{poster},
		#{price},
		1,
		#{cno},
		SYSDATE,
		0
	)
  </insert>

  <!-- 장바구니 금액 합계 -->
  <select id="basketMoney" resultType="String">
    SELECT NVL(SUM(price*ordercount), 0) money
    FROM user_basket u,dietfood_list d,goods_list g
    WHERE u.pno=d.no 
    	OR u.pno=g.no
    	AND u.id=${id}
  </select>
  
  <!-- 장바구니 수정 -->
  <select id="basketModify" parameterType="User_basketVO">
    UPDATE user_basket
      SET ordercount=#{ordercount}
    WHERE id=#{id}
      AND pno=#{pno}
  </select>
  
  <!-- 장바구니 삭제 -->
  <delete id="basketDelete" parameterType="int">
    DELETE FROM user_basket
    WHERE no=#{no}
  </delete>

  <!-- 장바구니 상품 갯수 -->
  <select id="basketCount" resultType="User_basketVO" parameterType="User_basketVO">
    SELECT COUNT(*)
    FROM user_basket
    WHERE id=#{id}
      AND pno=#{pno}
  </select>
  
  <!-- 장바구니에 동일 상품 존재 => 수정 -->
  <update id="basketUpdate" parameterType="User_basketVO">
    UPDATE user_basket
      SET ordercount=ordercount + #{ordercount}
    WHERE id=#{id}
      AND pno=#{pno}
  </update>
</mapper>