<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.mapper.walk-mapper">
	<select id="walkAllData" resultType="WalkVO">
		SELECT no,title,poster FROM walk_good
	</select>
	<select id="walkDetailData" resultType="WalkVO" parameterType="int">
		SELECT * FROM walk_good
		WHERE no=#{no}
	</select>
 </mapper>