<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.youtube-mapper">
	
	<!-- 총데이터 -->
	<select id="youtubeListData" resultType="YoutubeVO" parameterType="hashmap">
	  SELECT videoid,no,regdate,title,thumbnails,channeltitle,description,num
	  FROM ( SELECT videoid,no,regdate,title,thumbnails,channeltitle,description,rownum as num
	  FROM ( SELECT videoid,no,regdate,title,thumbnails,channeltitle,description
	  FROM youtube_data_v2))
	  WHERE num BETWEEN #{start} AND #{end}
	</select>

	<!-- 총 페이지 개수 -->
	<select id="youtubeTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/12.0) FROM youtube_data
	</select>
	
	<!-- 디테일 데이터 -->
	<select id="detailYoutubeData" resultType="youtubeVO" parameterType="int">
	 	 SELECT no,videoid,regdate,title,thumbnails,channeltitle,description,cno
	 	 FROM youtube_data_v2
	 	 WHERE no=#{no}
	</select>
	
	<!-- 유튜버리스트 총페이지 -->
	<select id="youtuberTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/12.0) 
		FROM (SELECT cno,num
	 	 FROM (SELECT cno,rownum as num
	 	 FROM (SELECT DISTINCT cno
	 	 FROM youtube_data_v2 ORDER BY cno)))
	</select>
	
	
	
	<!-- 유튜버 리스트 출력 -->
	<select id="listYoutuber" resultType="youtubeVO" parameterType="hashmap">
	 	 SELECT cno,channeltitle,num
	 	 FROM (SELECT cno,channeltitle,rownum as num
	 	 FROM (SELECT DISTINCT cno,channeltitle
	 	 FROM youtube_data_v2 ORDER BY cno))
	 	 WHERE num BETWEEN #{start} AND #{end}
	 	
	</select>
	<!-- 유튜버 분류 -->
	<select id="listByYoutuber" resultType="youtubeVO" parameterType="hashmap">
	 	 SELECT no,videoid,regdate,title,thumbnails,channeltitle,description,cno,num
	 	 FROM( SELECT no,videoid,regdate,title,thumbnails,channeltitle,description,cno,rownum as num
	 	 FROM ( SELECT no,videoid,regdate,title,thumbnails,channeltitle,description,cno
	 	 FROM youtube_data_v2 WHERE cno=#{cno} ORDER BY no ASC))
	 	 WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<!--유튜버 당  총페이지  계산-->
	<select id="totalpageByYoutuber" resultType="int" parameterType="int"> 
		 SELECT CEIL(COUNT(*)/12)
	 	 FROM ( SELECT no,channeltitle,rownum as num
	 	 FROM ( SELECT no,channeltitle
	 	 FROM youtube_data_v2 WHERE cno=#{cno}))
	</select>
	<!-- 유튜버 이름및 cno 출력 -->
	<select id="youtuberName" resultType="YoutubeVO" parameterType="int">
		SELECT DISTINCT channeltitle,cno 
		FROM youtube_data_v2
		WHERE cno=#{cno}
	</select>
	
	<!-- 
		유료부분 찜하기 => 테이블명 : hometraining_input(no,id,cno,state)
						VO : Homet_pay_inputVO
	-->
	<insert id="hometPayInputInsert" parameterType="Homet_pay_inputVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM hometraining_input
		</selectKey>
			INSERT INTO hometraining_input(no,id,cno,state) VALUES(
			#{no},
			#{id},
			#{cno},
			'n'			)
	</insert>
	<!-- 
	ID                  VARCHAR2(40)   /
	NO         NOT NULL NUMBER         
	PNO                 NUMBER         /
	TITLE               VARCHAR2(1000) /
	POSTER              VARCHAR2(400)  /
	PRICE               VARCHAR2(100)  /
	ORDERCOUNT          NUMBER         
	CNO                 NUMBER         3
	ORDDATE             DATE           
	STATE               NUMBER         
	ADDRESS             VARCHAR2(500)  
	TRAINER             VARCHAR2(200)  
	 -->
	 <insert id="youtubeBasketInsert" parameterType="User_basketVO">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(no)+1,1) as no FROM user_basket
    </selectKey>  
    INSERT INTO user_basket VALUES(
		#{id},
		#{no},
		#{pno},
		#{title},
		' ',
		'99,000',
		1,
		3,
		SYSDATE,
		0,
		#{trainer}
	)
  </insert>
	<!-- RESULTMAP -->
	<resultMap type="Homet_pay_inputVO" id="Homet_pay_inputMap">
		<result property="no" column="no"/>
		<result property="id" column="id"/>
		<result property="cno" column="cno"/>
		<result property="state" column="state"/>
		<result property="yvo.channeltitle" column="channeltitle"/>	
	</resultMap>
	<!-- 마이페이지에서 불러오기 -->
	<select id="mypageHometpayList" resultMap="Homet_pay_inputMap" parameterType="string">
		SELECT hi.no,hi.cno,yc.channeltitle,hi.id,hi.state
		FROM hometraining_input hi,youtube_cno yc
		WHERE hi.cno=yc.cno AND id=#{id}
	</select>
	
	<!-- 어드민 페이지에서 불러오기 -->
	<select id="adminPageHometpayList" resultMap="Homet_pay_inputMap">
		SELECT hi.no,hi.cno,yc.channeltitle,hi.id,hi.state
		FROM hometraining_input hi,youtube_cno yc
		WHERE hi.cno=yc.cno
	</select>
	
	<!-- 관리자 승인 -->
	<update id="adminHtPayOKUpdate" parameterType="int">
		UPDATE hometraining_input SET state='y'
		WHERE no=#{no}
	</update>
</mapper>